
		<div class="wrap">
			<!-- about -->
			<section class="welcome py-5" id="about">
				<div class="container py-xl-5 py-lg-3">
					<h3 class="title mb-lg-5 mb-4 pb-4 text-center">Story About Us</h3>
					<div class="row">
						<div class="col-lg-6 welcome-left pr-lg-5">
							<h3>Few Words</h3>
							<h2 class="mt-2 mb-3">Welcome to our Website</h2>
							<h6>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
								laudantium, totam rem
								aperiam, eaque ipsa quae ab illo inventore</h6>
							<p class="mt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse porta
								erat sit amet eros
								sagittis, quis
								hendrerit
								libero aliquam. Fusce semper augue ac dolor efficitur, a pretium metus pellentesque.</p>
							<a href="#" class="btn button-style-3">Learn More</a>
						</div>
						<div class="col-lg-5 offset-lg-1 welcome-right text-center mt-lg-0 mt-5">
							<img src="../local/templates/strength_index/images/ab.jpg" alt="" class="img-fluid">
						</div>
					</div>
				</div>
			</section>
			<!-- //about -->

			<!-- services-->
			<section class="single_grid_w3_main py-5" id="services">
				<div class="container pb-xl-5 pb-lg-3">
					<div class="row">
						<div class="col-lg-6">
							<div class="abt-grid">
								<div class="row">
									<div class="col-3">
										<div class="abt-icon">
											<span class="fa fa-heart-o"></span>
										</div>
									</div>
									<div class="col-9">
										<div class="abt-txt">
											<h4>Balance Body & Mind</h4>
											<p>Lo sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6 mt-lg-0 mt-5">
							<div class="abt-grid">
								<div class="row">
									<div class="col-3">
										<div class="abt-icon">
											<span class="fa fa-eye"></span>
										</div>
									</div>
									<div class="col-9">
										<div class="abt-txt">
											<h4>Meditation Practice</h4>
											<p>Lo sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row mt-lg-5">
						<div class="col-lg-6 mt-lg-4 mt-5">
							<div class="abt-grid">
								<div class="row">
									<div class="col-3">
										<div class="abt-icon">
											<span class="fa fa-child"></span>
										</div>
									</div>
									<div class="col-9">
										<div class="abt-txt">
											<h4>Healthy Daily Life</h4>
											<p>Lo sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6 mt-lg-4 mt-5">
							<div class="abt-grid">
								<div class="row">
									<div class="col-3">
										<div class="abt-icon">
											<span class="fa fa-handshake-o"></span>
										</div>
									</div>
									<div class="col-9">
										<div class="abt-txt">
											<h4>Yoga Month Challenge</h4>
											<p>Lo sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="d-flex justify-content-center">
						<a href="#classes" class="btn button-style button-2-w3">View More</a>
					</div>
				</div>
			</section>
			<!-- //services -->

			<!-- news -->
			<section class="blog_w3ls py-5" id="news">
				<div class="container pb-xl-5 pb-lg-3">
					<h3 class="title mb-lg-5 mb-4 pb-4 text-center">Latest News</h3>
					<div class="row">
						<!-- blog grid -->
						<div class="col-lg-4 col-md-6">
							<div class="card border-0 med-blog">
								<div class="card-header p-0">
									<a href="#">
										<img class="card-img-bottom" src="../local/templates/strength_index/images/blog1.jpg" alt="image">
									</a>
								</div>
								<div class="card-body border border-top-0">
									<div class="mb-3">
										<h5 class="blog-title card-title font-weight-bold m-0">
											<a href="#">Dictum porta auris</a>
										</h5>
										<div class="blog_w3icon">
											<span>
												April 12, 2019 - loremipsum</span>
										</div>
									</div>
									<p>Cras ultricies ligula sed magna dictum porta auris blandita. Nulla viverra
										pharetra se.</p>
								</div>
							</div>
						</div>
						<!-- //blog grid -->
						<!-- blog grid -->
						<div class="col-lg-4 col-md-6 mt-md-0 mt-5">
							<div class="card border-0 med-blog">
								<div class="card-header p-0">
									<a href="#">
										<img class="card-img-bottom" src="../local/templates/strength_index/images/blog2.jpg" alt="image">
									</a>
								</div>
								<div class="card-body border">
									<div class="mb-3">
										<h5 class="blog-title card-title font-weight-bold m-0">
											<a href="#">Sed do eiusmod</a>
										</h5>
										<div class="blog_w3icon">
											<span>
												April 14, 2019 - loremipsum</span>
										</div>
									</div>
									<p>Cras ultricies ligula sed magna dictum porta auris blandita. Nulla viverra
										pharetra se.</p>
								</div>
							</div>
						</div>
						<!-- //blog grid -->
						<!-- blog grid -->
						<div class="col-lg-4 col-md-6 mt-lg-0 mt-5">
							<div class="card border-0 med-blog">
								<div class="card-header p-0">
									<a href="#">
										<img class="card-img-bottom" src="../local/templates/strength_index/images/blog3.jpg" alt="image">
									</a>
								</div>
								<div class="card-body border border-top-0">
									<div class="mb-3">
										<h5 class="blog-title card-title font-weight-bold m-0">
											<a href="#">Tempor inci didunt</a>
										</h5>
										<div class="blog_w3icon">
											<span>
												April 16, 2019 - loremipsum</span>
										</div>
									</div>
									<p>Cras ultricies ligula sed magna dictum porta auris blandita. Nulla viverra
										pharetra se.</p>
								</div>
							</div>
						</div>
						<!-- //blog grid -->
					</div>
					<div class="row mt-5">
						<!-- blog grid -->
						<div class="col-lg-4 ml-auto col-md-6">
							<div class="card border-0 med-blog">
								<div class="card-header p-0">
									<a href="#">
										<img class="card-img-bottom" src="../local/templates/strength_index/images/blog4.jpg" alt="image">
									</a>
								</div>
								<div class="card-body border border-top-0">
									<div class="mb-3">
										<h5 class="blog-title card-title font-weight-bold m-0">
											<a href="#">Dictum porta auris</a>
										</h5>
										<div class="blog_w3icon">
											<span>
												April 18, 2019 - loremipsum</span>
										</div>
									</div>
									<p>Cras ultricies ligula sed magna dictum porta auris blandita. Nulla viverra
										pharetra se.</p>
								</div>
							</div>
						</div>
						<!-- //blog grid -->
						<!-- blog grid -->
						<div class="col-lg-4 col-md-6 mr-auto mt-md-0 mt-5">
							<div class="card border-0 med-blog">
								<div class="card-header p-0">
									<a href="#">
										<img class="card-img-bottom" src="../local/templates/strength_index/images/blog5.jpg" alt="image">
									</a>
								</div>
								<div class="card-body border">
									<div class="mb-3">
										<h5 class="blog-title card-title font-weight-bold m-0">
											<a href="#">Sed do eiusmod</a>
										</h5>
										<div class="blog_w3icon">
											<span>
												April 20, 2019 - loremipsum</span>
										</div>
									</div>
									<p>Cras ultricies ligula sed magna dictum porta auris blandita. Nulla viverra
										pharetra se.</p>
								</div>
							</div>
						</div>
						<!-- //blog grid -->
					</div>
				</div>
			</section>
			<!-- //news -->

			<!-- classes -->
			<section class="banner-bottom-w3layouts py-5" id="classes">
				<div class="container pb-xl-5 pb-lg-3">
					<h3 class="title mb-lg-5 mb-4 pb-4 text-center">Our Popular Classes</h3>
					<div class="row">
						<div class="col-lg-4 about-in text-center">
							<div class="card">
								<div class="serv-cont-wthree">
									<div class="icon-wthrees">
										<span class="fa fa-thumbs-o-up"></span>
									</div>
									<h5 class="card-title mb-3">body building</h5>
									<p class="card-text">Lorem ipsum dolor sit amet consectetur elit,Adipisicing elit
										tempor.</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 about-in text-center my-lg-0 my-4">
							<div class="card active">
								<div class="serv-cont-wthree">
									<div class="icon-wthrees">
										<span class="fa fa-female"></span>
									</div>
									<h5 class="card-title mb-3">weight loss</h5>
									<p class="card-text">Lorem ipsum dolor sit amet consectetur elit,Adipisicing elit
										tempor.</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 about-in text-center">
							<div class="card">
								<div class="serv-cont-wthree">
									<div class="icon-wthrees">
										<span class="fa fa-smile-o"></span>
									</div>
									<h5 class="card-title mb-3">YogaFit Restore</h5>
									<p class="card-text">Lorem ipsum dolor sit amet consectetur elit,Adipisicing elit
										tempor.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- //classes -->

			<!-- gallery -->
			<div class="gallery py-5" id="gallery">
				<div class="container pb-md-5">
					<div class="row news-grids no-gutters text-center">
						<div class="col-md-8 gal-img">
							<a href="#gal1"><img src="../local/templates/strength_index/images/g1.jpg" alt="Gallery Image" class="img-fluid"></a>
						</div>
						<div class="col-md-4 gal-img">
							<a href="#gal2"><img src="../local/templates/strength_index/images/g2.jpg" alt="Gallery Image" class="img-fluid"></a>
						</div>
					</div>
					<div class="row news-grids no-gutters text-center">
						<div class="col-md-4 gal-img">
							<a href="#gal3"><img src="../local/templates/strength_index/images/g3.jpg" alt="Gallery Image" class="img-fluid"></a>
						</div>
						<div class="col-md-4 gal-img">
							<a href="#gal4"><img src="../local/templates/strength_index/images/g4.jpg" alt="Gallery Image" class="img-fluid"></a>
						</div>
						<div class="col-md-4 gal-img">
							<a href="#gal5"><img src="../local/templates/strength_index/images/g5.jpg" alt="Gallery Image" class="img-fluid"></a>
						</div>
					</div>
					<!-- gallery popups -->
					<!-- popup-->
					<div id="gal1" class="pop-overlay animate">
						<div class="popup">
							<img src="../local/templates/strength_index/images/g1.jpg" alt="Popup Image" class="img-fluid" />
							<p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat
								placerat dolor.</p>
							<a class="close" href="#gallery">&times;</a>
						</div>
					</div>
					<!-- //popup -->
					<!-- popup-->
					<div id="gal2" class="pop-overlay animate">
						<div class="popup">
							<img src="../local/templates/strength_index/images/g2.jpg" alt="Popup Image" class="img-fluid" />
							<p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat
								placerat dolor.</p>
							<a class="close" href="#gallery">&times;</a>
						</div>
					</div>
					<!-- //popup -->
					<!-- popup-->
					<div id="gal3" class="pop-overlay animate">
						<div class="popup">
							<img src="../local/templates/strength_index/images/g3.jpg" alt="Popup Image" class="img-fluid" />
							<p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat
								placerat dolor.</p>
							<a class="close" href="#gallery">&times;</a>
						</div>
					</div>
					<!-- //popup3 -->
					<!-- popup-->
					<div id="gal4" class="pop-overlay animate">
						<div class="popup">
							<img src="../local/templates/strength_index/images/g4.jpg" alt="Popup Image" class="img-fluid" />
							<p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat
								placerat dolor.</p>
							<a class="close" href="#gallery">&times;</a>
						</div>
					</div>
					<!-- //popup -->
					<!-- popup-->
					<div id="gal5" class="pop-overlay animate">
						<div class="popup">
							<img src="../local/templates/strength_index/images/g5.jpg" alt="Popup Image" class="img-fluid" />
							<p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat
								placerat dolor.</p>
							<a class="close" href="#gallery">&times;</a>
						</div>
					</div>
					<!-- //popup -->
					<!-- //gallery popups -->
				</div>
			</div>
			<!-- //gallery -->

			<!-- contact -->
			<section class="contact py-5" id="contact">
				<div class="container pb-xl-5 pb-lg-3">
					<h3 class="title mb-lg-5 mb-4 pb-4 text-center">Contact Us</h3>
					<div class="row mail-w3l-w3pvt-web">
						<div class="col-lg-6">
							<div class="w3pvt-webinfo_mail_grid_right">
								<form action="#" method="post">
									<div class="form-group">
										<input type="text" name="Name" class="form-control" placeholder="Name"
											required="">
									</div>
									<div class="form-group">
										<input type="email" name="Email" class="form-control" placeholder="Email"
											required="">
									</div>
									<div class="form-group">
										<textarea name="Message" placeholder="Message......." required=""></textarea>
									</div>
									<button type="submit" class="btn">Submit</button>
								</form>
							</div>
						</div>
						<div class="col-xl-5 offset-xl-1 col-lg-6 contact-left-w3ls mt-lg-0 mt-5">
							<h3>Contact Info</h3>
							<div class="row mb-4 pb-2">
								<div class="col-md-3 col-sm-2 col-3 pl-sm-0">
									<div class="contact-icon-wthree">
										<span class="fa fa-map-marker"></span>
									</div>
								</div>
								<div class="col-md-9 col-sm-10 col-9 contact-text-w3pvt-webinf0">
									<h4>Visit us</h4>
									<p>Parma Via Modena,BO, Italy</p>
									<p>Lorem ipsum dolor.</p>
								</div>
							</div>
							<div class="row mb-4 pb-3">
								<div class="col-md-3 col-sm-2 col-3 pl-sm-0">
									<div class="contact-icon-wthree">
										<span class="fa fa-pencil"></span>
									</div>
								</div>
								<div class="col-md-9 col-sm-10 col-9 contact-text-w3pvt-webinf0">
									<h4>Mail us</h4>
									<p><a href="mailto:info@example.com">info@example.com</a></p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-3 col-sm-2 col-3 pl-sm-0">
									<div class="contact-icon-wthree">
										<span class="fa fa-phone"></span>
									</div>
								</div>
								<div class="col-md-9 col-sm-10 col-9 contact-text-w3pvt-webinf0">
									<h4>Call us</h4>
									<p>+18044261149</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- //contact -->
		</div>
	</div>
	<!-- //main background image -->

	<!-- footer -->
	<footer class="copyright-w3ls py-4">
		<div class="container">
			<div class="row">
				<!-- copyright -->
				<p class="col-lg-8 copy-right-grids text-lg-left text-center mt-lg-2">© 2019 Strength. All
					Rights Reserved | Design by
					<a href="https://w3layouts.com/" target="_blank" class="text-colors">W3layouts</a>
				</p>
				<!-- //copyright -->
				<!-- social icons -->
				<div class="col-lg-4 w3social-icons text-lg-right text-center mt-lg-0 mt-3">
					<ul>
						<li>
							<a href="#" class="rounded-circle">
								<span class="fa fa-facebook-f"></span>
							</a>
						</li>
						<li class="px-2">
							<a href="#" class="rounded-circle">
								<span class="fa fa-google-plus"></span>
							</a>
						</li>
						<li>
							<a href="#" class="rounded-circle">
								<span class="fa fa-twitter"></span>
							</a>
						</li>
						<li class="pl-2">
							<a href="#" class="rounded-circle">
								<span class="fa fa-dribbble"></span>
							</a>
						</li>
					</ul>
				</div>
				<!-- //social icons -->
			</div>
		</div>
	</footer>
	<!-- //footer -->
	<!-- move top icon -->
	<a href="#home" class="move-top text-center">
		<span class="fa fa-hand-o-up" aria-hidden="true"></span>
	</a>
	<!-- //move top icon -->

</body>

</html>